.home-navbar-bg{
    background-color: #181D31;
}

.svg-center{
    margin-left: auto;
    margin-right: auto;
}

.home-bg{
    background-image: url("../images/rg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.home-bg-text{
    background-color: black;
    border-radius: 21px;
    padding: 8px;
}

.navbar-nav .nav-link:hover{
    color: #9BA4B5
}

@media screen and (max-width: 992px){
    .invisibility{
        visibility: hidden;
    }

    .navbar-nav > li > a{
        padding: 0px;
        margin: 0px
    }
}