/* src/components/sections/About/About.module.css */

.app {
    font-family: sans-serif;
    position: relative;
}

.about {
    min-height: 100vh;
    background-color: var(--back-ground-color);
    padding-top: 100px;
}

.container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--title-color);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.title::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-main);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.about>.container>p {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 700px;
    margin: 0 auto 90px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.about-content>div>h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 25px;
    color: var(--title-color);
    font-weight: 700;
}

.about-content>div {
    width: 100%;
}

.about-info>p {
    font-size: 16px;
    color: var(--paragraph-color);
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

.about-info>p>span {
    font-weight: bold;
}

.about-info>p>a {
    color: var(--primary-main);
    font-weight: bold;
}

.skills {
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.skill {
    padding: 10px 15px;
    border-radius: 5px;
    background: rgba(153, 153, 153, .2);
    color: #666;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.skill>.skill-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.skill::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    z-index: 2;
}

.skill:hover::after {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.skill:hover>.skill-icon {
    display: block;
    z-index: 4;
    transition: 1.3s;
}

.skill:hover>.skill-name {
    color: transparent;
}

/* Skills: START Programming Languages */

.python:hover::after {
    background-color: var(--python-color);
}

.pytorch:hover::after {
    background-color: var(--pytorch-color);
}

.postgresql:hover::after {
    background-color: var(--postgresql-color);
}

.powerbi:hover::after {
    background-color: var(--powerbi-color);
}

.azure:hover::after {
    background-color: var(--azure-color);
}

.react:hover::after {
    background-color: var(--react-color);
}

.git:hover::after {
    background-color: var(--git-color);
}

.git-hub:hover::after {
    background-color: var(--github-color);
}

.java:hover::after {
    background-color: var(--java-color);
}

.flask:hover::after {
    background-color: var(--flask-color);
}

.postman:hover::after {
    background-color: var(--postman-color);
}

.opencv:hover::after {
    background-color: var(--opencv-color);
}

.databricks:hover::after {
    background-color: var(--databricks-color);
}

.huggingface:hover::after {
    background-color: var(--hgface-color);
}

.vscode:hover::after {
    background-color: var(--vscode-color);
}

/* Skills: END Programming Languages */

@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .skills {
        margin-bottom: 40px;
    }
}